.cart-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .cart-info-empty{
        margin: 20px 0 40px;

        p{
            width: 285px;
            margin-top: 9px;
            color: #BDBDBD;
            line-height: 24px;
        }
    }
}