.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f4f4f4;
  padding: 40px;

  @media (max-width: 800px) {
    padding: 20px 40px;
  }

  @media (max-width: 435px) {
    padding: 20px;
  }

  .header-left {
    display: flex;
    gap: 16px;

    @media (max-width: 435px) {
      gap: 10px;
      align-items: center;
    }

    .logo {
      width: 40px;
      height: 40px;
      cursor: pointer;

      @media (max-width: 320px) {
        width: 30px;
        height: 30px;
      }
    }

    .header-title {
      h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;

        @media (max-width: 800px) {
          font-size: 18px;
          line-height: 20px;
        }

        @media (max-width: 435px) {
          font-size: 16px;
        }

        @media (max-width: 320px) {
          font-size: 13px;
        }
      }

      p {
        color: #9d9d9d;
        font-size: 14px;
        line-height: 17px;

        @media (max-width: 800px) {
          font-size: 12px;
        }

        @media (max-width: 320px) {
          font-size: 11px;
          line-height: 12px;
        }
      }
    }
  }

  .header-right {
    display: flex;
    gap: 32px;

    @media (max-width: 320px) {
      gap: 10px;
    }

    .header-cart {
      display: flex;
      gap: 8px;

      p {
        font-size: 16px;

        @media (max-width: 800px) {
          font-size: 14px;
        }

        @media (max-width: 320px) {
          font-size: 13px;
        }
      }
    }

    .header-icon {
      width: 18px;
      height: 18px;
      cursor: pointer;

      @media (max-width: 800px) {
        width: 15px;
        height: 15px;
      }
    }
  }
}
